{% extends "layout.html" %}

{% block content %}
<div class="row g-2">
    <div class="col gy-5">
        <h4>Welcome!</h4>
    </div>
</div>
<div class="row g-2">
    <div class="col-sm gy-4">
        <h1 class="display-6 fs-5 text-sm-start">Lead Cybersecurity Engineer, Director</h1>
        <p class="text-secondary fs-6 text-sm-start">DevOps / Platform / IAM Engineer</p>
        <img src="{{ url_for('static', filename='images/20251216_173340_0001.svg') }}" class="img-fluid rounded" alt="Profile Picture">
    </div>
    <div class="col-lg-9 gy-4 gx-5">
        <p class="lead">This is the home page of my Flask application.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempor dolor et velit venenatis volutpat. Donec efficitur eget lectus nec dictum. In nec arcu lobortis, suscipit turpis sed, consequat quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tincidunt dignissim accumsan. Donec laoreet odio nulla, at gravida lacus venenatis sed. Suspendisse suscipit, urna quis vulputate mattis, ligula mauris condimentum ligula, dignissim efficitur quam leo nec justo. Duis tincidunt neque vitae velit fringilla, quis rutrum sem euismod. Vestibulum eget mollis diam. Praesent sed luctus ex. Curabitur lobortis arcu nisi. Maecenas vel sapien efficitur, luctus magna quis, volutpat purus. Nunc accumsan nisi sed suscipit consectetur.
        <p>Fusce venenatis finibus commodo. Sed vitae felis pretium, commodo justo et, rhoncus elit. Mauris iaculis justo vel nunc viverra, eget porta tortor dictum. Maecenas egestas leo ac nisl lobortis, eget tempor sapien accumsan. Cras consectetur pulvinar justo non fermentum. Donec sapien dolor, tempus sit amet magna quis, ullamcorper pharetra erat. Suspendisse ullamcorper pretium dui, porta suscipit leo. Pellentesque vel mollis erat. Morbi ultricies sem id pellentesque molestie. In dictum consequat nibh. Nullam quis tortor sapien. Donec pulvinar eros turpis, eget consectetur neque ornare et.</p>
        <p>Sed id lorem vel orci pulvinar faucibus id eu ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pellentesque ultrices posuere. Phasellus interdum purus quis tellus tincidunt, imperdiet condimentum purus vestibulum. Sed non eros suscipit, eleifend neque a, pulvinar nibh. In hac habitasse platea dictumst. Maecenas viverra aliquam felis, et maximus libero. Nullam mi nunc, faucibus a velit eget, posuere congue lectus. Aenean a congue est. Nulla congue eget nulla vitae interdum. Nam tempor vehicula sapien, ac dapibus nisi pulvinar in. Vivamus accumsan nisi eget porttitor tristique. Quisque at sem sit amet justo volutpat feugiat non sed odio.</p>
    </div>
</div>
{% endblock %}
