<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Diandra Davidson</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col gy-5">
                    <!-- Placeholder row -->
                </div>
            </div>
            {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="col row align-items-end">
                        <a class="navbar-brand" href="#">Diandra Davidson</a>
                    </div>
                    <div class="col-lg-6 row align-items-end">
                        <!-- Additional nav items can go here -->
                    </div>
                    <div class="col navbar-nav mr-auto">
                        {% include 'nav.html' %}
                    </div>
                </div>
            </nav>
            {% endblock %}
            {% block content %}
                <!-- Main content goes here -->
            {% endblock %}
        </div>
            
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>