<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <!-- Custom Portfolio Styling -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}

        <!-- Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <title>Diandra Davidson</title>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
            <div class="container-lg">
                <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/diandrad.dev-logo-01.png') }}" alt="diandrad.dev logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="navbar-nav ms-auto">
                        {% include 'nav.html' %}
                    </div>
                </div>
            </div>
        </nav>
        {% endblock %}
        
        {% block content %}
            <!-- Main content goes here -->
        {% endblock %}
            
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>