<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <!-- Custom Portfolio Styling -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock %}

        <title>Diandra Davidson</title>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
            <div class="container-lg">
                <a class="navbar-brand" href="/">Diandra Davidson</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <div class="navbar-nav ms-auto">
                        {% include 'nav.html' %}
                    </div>
                </div>
            </div>
        </nav>
        {% endblock %}
        
        {% block content %}
            <!-- Main content goes here -->
        {% endblock %}
            
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>