{% from 'bootstrap5/nav.html' import render_nav_item %}

<li class="nav-item">{{ render_nav_item('main.main', 'Home', _use_li=False) }}</li>
<li class="nav-item">{{ render_nav_item('main.about', 'About', _use_li=False) }}</li>
<li class="nav-item">{{ render_nav_item('main.services', 'Services', _use_li=False) }}</li>
<li class="nav-item">{{ render_nav_item('main.experience', 'Experience', _use_li=False) }}</li>
<li class="nav-item">{{ render_nav_item('main.portfolio', 'Portfolio', _use_li=False) }}</li>
<li class="nav-item">{{ render_nav_item('main.contact', 'Contact', _use_li=False) }}</li>
